[submodule "prius_gazebo/models"]
	path = prius_gazebo/models
	url = https://github.com/BruceChanJianLe/prius_simulator_models.git
[submodule "prius_gazebo/maps/3d_maps"]
	path = prius_gazebo/maps/3d_maps
	url = git@github.com:BruceChanJianLe/prius_simulator_3d_maps.git
